---
import Card from "./Card.astro";
import RedirectLinkIcon from "./icons/RedirectLinkIcon.astro";
---

<style>
    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        justify-content: center;
        width: auto;
        align-items: center;
    }
</style>

<section>
    <Card>
        <span slot="slot-title">The stocks 3</span>

        <a href="https://v3.thestocks.im/" target="_blank">
            <RedirectLinkIcon slot="slot-link" />
        </a>

        <img
            src="../public/img/paginas/the-stocks.png"
            alt="Verifique su conexión a internet"
            slot="slot-img"
            class="rounded-md"
        />

        <p slot="slot-text" class="font-medium">
            The Stocks es una plataforma que agrupa recursos gratuitos de
            imágenes, videos, íconos y fuentes para diseñadores y
            desarrolladores, facilitando el acceso a contenido de calidad desde
            una sola página.
        </p>
    </Card>

    <Card>
        <span slot="slot-title">The stocks 3</span>

        <a href="https://v3.thestocks.im/" target="_blank">
            <RedirectLinkIcon slot="slot-link" />
        </a>

        <img
            src="../public/img/paginas/the-stocks.png"
            alt="Verifique su conexión a internet"
            slot="slot-img"
            class="rounded-md"
        />

        <p slot="slot-text" class="font-medium">
            The Stocks es una plataforma que agrupa recursos gratuitos de
            imágenes, videos, íconos y fuentes para diseñadores y
            desarrolladores, facilitando el acceso a contenido de calidad desde
            una sola página.
        </p>
    </Card>

    <Card>
        <span slot="slot-title">The stocks 3</span>

        <a href="https://v3.thestocks.im/" target="_blank">
            <RedirectLinkIcon slot="slot-link" />
        </a>

        <img
            src="../public/img/paginas/the-stocks.png"
            alt="Verifique su conexión a internet"
            slot="slot-img"
            class="rounded-md"
        />

        <p slot="slot-text" class="font-medium">
            The Stocks es una plataforma que agrupa recursos gratuitos de
            imágenes, videos, íconos y fuentes para diseñadores y
            desarrolladores, facilitando el acceso a contenido de calidad desde
            una sola página.
        </p>
    </Card>

    <Card>
        <span slot="slot-title">The stocks 3</span>

        <a href="https://v3.thestocks.im/" target="_blank">
            <RedirectLinkIcon slot="slot-link" />
        </a>

        <img
            src="../public/img/paginas/the-stocks.png"
            alt="Verifique su conexión a internet"
            slot="slot-img"
            class="rounded-md"
        />

        <p slot="slot-text" class="font-medium">
            The Stocks es una plataforma que agrupa recursos gratuitos de
            imágenes, videos, íconos y fuentes para diseñadores y
            desarrolladores, facilitando el acceso a contenido de calidad desde
            una sola página.
        </p>
    </Card>

    <Card>
        <span slot="slot-title">The stocks 3</span>

        <a href="https://v3.thestocks.im/" target="_blank">
            <RedirectLinkIcon slot="slot-link" />
        </a>

        <img
            src="../public/img/paginas/the-stocks.png"
            alt="Verifique su conexión a internet"
            slot="slot-img"
            class="rounded-md"
        />

        <p slot="slot-text" class="font-medium">
            The Stocks es una plataforma que agrupa recursos gratuitos de
            imágenes, videos, íconos y fuentes para diseñadores y
            desarrolladores, facilitando el acceso a contenido de calidad desde
            una sola página.
        </p>
    </Card>

    <Card>
        <span slot="slot-title">The stocks 3</span>

        <a href="https://v3.thestocks.im/" target="_blank">
            <RedirectLinkIcon slot="slot-link" />
        </a>

        <img
            src="../public/img/paginas/the-stocks.png"
            alt="Verifique su conexión a internet"
            slot="slot-img"
            class="rounded-md"
        />

        <p slot="slot-text" class="font-medium">
            The Stocks es una plataforma que agrupa recursos gratuitos de
            imágenes, videos, íconos y fuentes para diseñadores y
            desarrolladores, facilitando el acceso a contenido de calidad desde
            una sola página.
        </p>
    </Card>
</section>
