---
import PostSearch from "./PostSearch.astro";
import ButtonSendResource from "./ButtonSendResource.astro";
import ContainerResourcesCards from "./ContainerResourcesCards.astro";
import Search from "./Search.astro";
---

<Search/>
<PostSearch/>

<div class="w-full flex justify-center mb-16">    
    <ButtonSendResource/>
</div>

<div id="category" class="text-4xl mt-10 ml-20 font-medium">Todas las categorías</div>

<ContainerResourcesCards/> 