---
import RedirectLinkIcon from "./icons/RedirectLinkIcon.astro";
import SearchIcon from "./icons/SearchIcon.astro";
import PostSearch from "./PostSearch.astro";
---

<div class="justify-center items-center ml-3 mt-24 flex gap-x-1">
    <select id="categorySelect"
     class="bg-white text-black rounded-sm cursor-pointer py-2 px-2 border-2 border-black">
        <option value="" hidden>Todas las categorías</option>
        <option value="Extensiones">Extensiones</option>
        <option value="Paginas">Páginas</option>
        <option value="APIS">APIS</option>
    </select>

    <input
        type="search"
        placeholder="Buscar..."
        class="text-black bg-white pl-2 rounded-sm w-2/4  py-2 px-2 border-2 border-black"
         id="search-input"
    />
    <button class=""><SearchIcon/ class="hover:scale-125 duration-300 size-8"></button>

    
</div>

<PostSearch/>
<div id="category" class="text-4xl mt-10 ml-20 font-medium">Todas las categorías</div>

<style>

    @media screen and (max-width: 410px) {
       
        #categorySelect{
            width: 180px;
        }

    }


    .card{
        border-radius: 8px;
        background-image: url("/public/img/fondo-cards-white.png");
        color: black;
    }
    
    .filter{
        display: none;
    }

    section {
   
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        margin-inline: 2rem;
        
    }

    img{
        aspect-ratio: 2/1;
    }
    
    
    .card-text{
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word; 
    }
 

</style>
<section id="cards-container">

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">10015</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="/10015.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>
        <div class="w-full">

            <p class="card-text">
                Colección de herramientas en línea para diseñadores y desarrolladores, desde generación de gradientes
                hasta manipulación de texto.</p>
        </div>
    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">bg.ibelick</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="/public/img/paginas/bg-ibelick.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Generador de gradientes en línea que permite crear fondos personalizados con múltiples opciones de colores y
            estilos, ofreciendo previsualización y exportación en CSS.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">clean code JavaScript</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/clean-code-javascript.webp" alt="Verifique su conexión a internet"
                slot="slot-img" class="rounded-md" />
        </div>

        <p class="card-text">
            Repositorio con mejores prácticas y principios de "código limpio" adaptados para JavaScript.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">coderbyte</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/coder-byte.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Plataforma de evaluación técnica con retos de codificación, ideal para entrevistas y preparación
            profesional.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Cool Contrast</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/cool-contrast.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Herramienta para verificar y ajustar el contraste de colores según las pautas de accesibilidad.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">coolors</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/coolors.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Generador de combinaciones y gradientes de colores para proyectos de diseño gráfico y web.
        </p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">dev challenges</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/dev-challenges.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Plataforma para mejorar habilidades de desarrollo frontend y backend a través de retos prácticos.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">dev docs</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/dev-docs.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Biblioteca de documentación para desarrolladores con acceso rápido y búsqueda unificada.</p>


    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Enloquent JavaScript (Español)</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/enloquent-javascript.webp" alt="Verifique su conexión a internet"
                slot="slot-img" class="rounded-md" />
        </div>

        <p class="card-text">
            Traducción al español del libro "Eloquent JavaScript", que ofrece una introducción práctica y profunda al
            lenguaje JavaScript.

        </p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Exercism</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/exercism.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Plataforma educativa que ofrece ejercicios prácticos y guías para aprender programación en varios lenguajes.
        </p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">FreeCodeCamp</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/free-code-camp.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Plataforma de aprendizaje en línea gratuita para aprender desarrollo web, análisis de datos y más.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Gradient Hunt</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/gradient-hunt.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Comunidad y galería de gradientes de colores modernos creados por diseñadores de todo el mundo.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Gradient Magic</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/gradient-magic.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Repositorio de gradientes creativos y únicos para usar en diseños web, con opciones de exportación
            personalizables.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">HackerRank</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/hacker-rank.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Sitio web con desafíos de programación y concursos para mejorar habilidades técnicas y prepararse para
            entrevistas.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">HTML Dog</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/html-dog.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Sitio educativo con tutoriales y ejemplos para aprender HTML, CSS y JavaScript.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">LeetCode</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/leet-code.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Plataforma de retos de programación centrados en la resolución de problemas y entrevistas técnicas.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">MagicPattern</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/magic-pattern.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Herramienta para generar fondos CSS con patrones y gradientes modernos para sitios web.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">PUBLIC APIS</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/pagina/public-apis.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Directorio de APIs públicas organizadas por categorías para facilitar su exploración e implementación.
        </p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Rapid Api</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/rapid-api.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Plataforma para explorar, probar e integrar APIs en aplicaciones de manera eficiente.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">removebg</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/remove-bg.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Eliminador automático de fondos en imágenes, ideal para crear recursos gráficos limpios y profesionales.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">developer roadmap</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/road-map.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Guías visuales para aprender y desarrollar habilidades en diversas áreas de la programación.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Shots</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/shots.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Plataforma para diseñadores que permite crear capturas de pantallas atractivas y presentarlas con estilo
            profesional.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Squoosh</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/squoosh.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Herramienta web para comprimir y optimizar imágenes con control detallado de calidad y formatos.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">SVG Backgrounds</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/svg-bg.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Biblioteca de fondos SVG personalizables para diseños web únicos.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">SVGL</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/svgl.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Editor visual para crear y modificar gráficos vectoriales en formato SVG de manera sencilla.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Tailwind css animated</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/tailwind-css-animated.webp" alt="Verifique su conexión a internet"
                slot="slot-img" class="rounded-md" />
        </div>

        <p class="card-text">
            Conjunto de clases utilitarias para agregar animaciones predefinidas a proyectos que usan Tailwind CSS.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Tailwind Generator</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/tailwind-generator.webp" alt="Verifique su conexión a internet"
                slot="slot-img" class="rounded-md" />
        </div>

        <p class="card-text">
            Herramienta para generar código Tailwind CSS con configuraciones visuales y en tiempo real.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">The Stocks</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/the-stocks.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            The Stocks es una plataforma que agrupa recursos gratuitos de imágenes,
            videos, íconos y fuentes para diseñadores, facilitando
            el acceso a contenido de calidad desde una sola página.
        </p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">UI Gradients</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/ui-gradients.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Colección de gradientes de colores curados para diseñadores, con códigos CSS listos para copiar y usar.
        </p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">UIVerse switches</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/ui-verse.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Galería interactiva de componentes UI modernos, incluyendo switches personalizables.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">W3 Schools</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/w3-schools.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">Sitio web educativo con tutoriales, ejemplos y documentación sobre programación, diseño web
            y desarrollo.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">WebGradients</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/paginas/web-gradients.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">Biblioteca de gradientes listos para usar con opciones de exportación en CSS, SVG y PNG.
        </p>

    </article>


    <!----------------------------------------- Extensiones ---------------------------------------------------------->


    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Mobile simulator</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/extensiones/mobile-simulator.webp" alt="Verifique su conexión a internet"
                slot="slot-img" class="rounded-md" />
        </div>

        <p class="card-text">
            Extensión para simular dispositivos móviles y probar la responsividad de sitios web en navegadores.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Auto close tag</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/extensiones/auto-close-tag.webp" alt="Verifique su conexión a internet"
                slot="slot-img" class="rounded-md" />
        </div>

        <p class="card-text">
            Extensión para VS Code que completa automáticamente las etiquetas HTML y XML.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Console Ninja</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/extensiones/console-ninja.webp" alt="Verifique su conexión a internet"
                slot="slot-img" class="rounded-md" />
        </div>

        <p class="card-text">
            Extensión para depuración avanzada en la consola de JavaScript dentro de VS Code.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Error lens</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/extensiones/error-lens.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Extensión para mostrar errores y advertencias de manera visual y destacada dentro del editor.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Image preview</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/extensiones/image-preview.webp" alt="Verifique su conexión a internet"
                slot="slot-img" class="rounded-md" />
        </div>

        <p class="card-text">
            Extensión que permite previsualizar imágenes directamente en el editor de VS Code.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Live preview</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/extensiones/live-preview.webp" alt="Verifique su conexión a internet"
                slot="slot-img" class="rounded-md" />
        </div>

        <p class="card-text">
            Extensión que permite previsualizar cambios en proyectos HTML directamente desde VS Code.</p>

    </article>

    <article class="w-80 border-black border-2 p-4 m-11 card h-fit relative min-h-96 rounded-s-md">
        <div class="flex justify-between mx-4 mb-4">
            <span class="card-title font-semibold cursor-pointer">Live server</span>
            <a href="" target="_blank">
                <RedirectLinkIcon slot="slot-link" class="hover:scale-125 duration-300" />
            </a>
        </div>

        <div class="mb-4 hover:scale-105 ease-in-out duration-300 cursor-pointer">
            <img src="./public/img/extensiones/live-server.webp" alt="Verifique su conexión a internet" slot="slot-img"
                class="rounded-md" />
        </div>

        <p class="card-text">
            Extensión para ejecutar proyectos web en un servidor local con actualización automática en tiempo real.</p>

    </article>

</section>

<script type="module">
    document.addEventListener("keyup", (e) => {
        const searchInput = document.getElementById("search-input");
        if (e.target === searchInput) {
            const searchTerm = e.target.value.toLowerCase();
            
            document.querySelectorAll(".card").forEach((card) => {
                const title = card.querySelector(".card-title")?.textContent || "";
                const text = card.querySelector(".card-text")?.textContent || "";
                
                if (title.toLowerCase().includes(searchTerm) || text.toLowerCase().includes(searchTerm)) {
                    card.classList.remove("filter");
                } else {
                card.classList.add("filter");
            }
        });
    }
});

</script>

<script>

const categorySelect = document.getElementById("categorySelect") as HTMLSelectElement;


if (categorySelect) {
    categorySelect.addEventListener("change", () => {
        const selectedCategory = categorySelect.value;  
        const categoryElement = document.getElementById("category");

        if (categoryElement) {
            categoryElement.textContent = selectedCategory || "Todas las categorías";
        }
    });
    
} else {
    console.error("El elemento no se encontró");
}

</script>

