---
import PostSearch from "./PostSearch.astro";
import ButtonSendResource from "./ButtonSendResource.astro";
import Json from "./Json.astro";
import Search from "./Search.astro";
---

<Search/>
<PostSearch/>

<div class="w-full flex justify-center mt-14 mb-16">    
    <ButtonSendResource/>
</div>

<div id="category" class="text-4xl mt-10 ml-20 font-medium">Todas las categorías</div>

<Json/> 