---
import UpIcon from "./icons/UpIcon.astro";
---

<div class="flex justify-between mx-8 mb-4 mt-20">
    <p class="text-lg">© 2025 AppsDevs. Algunos derechos reservados.</p>

    <a href="#">
        <UpIcon class="size-8 hover:scale-125 duration-200 ease-in-out" />
    </a>
</div>
