---
import DarkModeIcon from "./icons/DarkModeIcon.astro";
import LightModeIcon from "./icons/LightModeIcon.astro";
import MenuIcon from "./icons/MenuIcon.astro";
---

<script>
    const boton = document.querySelector("#boton-menu-mobile");
    const menu = document.querySelector("#menu-mobile");

    boton.addEventListener("click", () => {
        menu.classList.toggle("hidden");
        menu.classList.toggle("show");
    });

    const DarkModeIcon = document.getElementById("DarkModeIcon");
    const LightModeIcon = document.getElementById("LightModeIcon");
    const body = document.body;

    LightModeIcon.addEventListener("click", () => {
        LightModeIcon.classList.add("hidden");
        DarkModeIcon.classList.remove("hidden");
    });

    DarkModeIcon.addEventListener("click", () => {
        DarkModeIcon.classList.add("hidden");
        LightModeIcon.classList.remove("hidden");
    });

    
    if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
        body.classList.add("dark-mode");
    } else {
        body.classList.add("light-mode");
    }

    function toggleMode() {
        if (body.classList.contains("light-mode")) {
            body.classList.remove("light-mode");
            body.classList.add("dark-mode");
        } else {
            body.classList.remove("dark-mode");
            body.classList.add("light-mode");
        }
    }

    DarkModeIcon.addEventListener("click", toggleMode);
    LightModeIcon.addEventListener("click", toggleMode);

    const DarkModeIconn = document.getElementById("DarkModeIconn");
    const LightModeIconn = document.getElementById("LightModeIconn");
    const bodyy = document.body;

    LightModeIconn.addEventListener("click", () => {
        LightModeIconn.classList.add("hidden");
        DarkModeIconn.classList.remove("hidden");
    });

    DarkModeIconn.addEventListener("click", () => {
        DarkModeIconn.classList.add("hidden");
        LightModeIconn.classList.remove("hidden");
    });


    if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
        bodyy.classList.add("dark-mode");
    } else {
        bodyy.classList.add("light-mode");
    }

    function toggleModee() {
        if (body.classList.contains("light-mode")) {
            body.classList.remove("light-mode");
            body.classList.add("dark-mode");
        } else {
            body.classList.remove("dark-mode");
            body.classList.add("light-mode");
        }
    }

    DarkModeIconn.addEventListener("click", toggleModee);
    LightModeIconn.addEventListener("click", toggleModee);
</script>

<style>
    @media screen and (max-width: 700px) {
        Header {
            justify-content: space-between;
        }
    }

    @media screen and (max-width: 540px) {
        #mobile {
            display: block;
            margin: 6px;
        }

        #header{
            display: none;
        }
    }


    .hidden {
        display: none;
    }

    .hiden {
        display: none;
    }

    :root {
        --light-gradient: radial-gradient(
            100% 50% at 50% 0%,
            rgba(0, 163, 255, 0.13) 0%,
            rgba(0, 163, 255, 0) 50%,
            rgba(0, 163, 255, 0) 100%
        );
        --dark-gradient: radial-gradient(
            100% 100% at 50% 0%,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 100%
        );
    }

    body {
        background-color: var(--background-color);
        background-image: var(--background-gradient);
    }

    body.light-mode {
        --background-color: white;
        --background-gradient: var(--light-gradient);
        color: #121212;
        height: 100%;
    }

    body.dark-mode {
        --background-color: #121212;
        --background-gradient: var(--dark-gradient);
        color: white;
        height: 100%;
    }
</style>

<header id="mobile" class="hidden">
    <MenuIcon
        id="boton-menu-mobile"
        class="hover:scale-125 cursor-pointer duration-200 ease-in-out mt-4"
    />

    <ul class="gap-y-4 mt-4 flex-col" id="menu-mobile">
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            Extensiones
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            Páginas
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            NPM
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            APIS
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            APP
        </li>
    </ul>

    <div class="flex right-2 mt-4 absolute gap-x-2 items-center top-0">
        <div>
            <LightModeIcon
                id="DarkModeIcon"
                class="hover:cursor-pointer size-7 hover:scale-125 duration-300"
            />
            <DarkModeIcon
                id="LightModeIcon"
                class="hover:cursor-pointer size-7 hidden hover:scale-125 duration-300"
            />
        </div>

        <span class="text-xl font-semibold cursor-pointer">AppsDevs</span>
    </div>
</header>

<header class="flex gap-x-36 justify-around" id="header">
    <ul class="flex gap-x-10 mt-4">
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            Extensiones
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            Páginas
        </li>
                <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            NPM
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            APIS
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            APP
        </li>
    </ul>

    <div class="flex right-2 mt-4 absolute gap-x-2 items-center">
        <div>
            <LightModeIcon
                id="DarkModeIconn"
                class="hover:cursor-pointer size-7 hover:scale-125 duration-300"
            />
            <DarkModeIcon
                id="LightModeIconn"
                class="hover:cursor-pointer size-7 hidden hover:scale-125 duration-300"
            />
        </div>

        <span class="text-xl font-semibold cursor-pointer">AppsDevs</span>
    </div>
</header>