---
import DarkModeIcon from "./icons/DarkModeIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LightModeIcon from "./icons/LightModeIcon.astro";
import StarIcon from "./icons/StarIcon.astro";
import GitHubStar from "../components/Githubstar.jsx";
---

<script>
    const DarkModeIcon = document.getElementById("DarkModeIcon");
    const LightModeIcon = document.getElementById("LightModeIcon");
    const body = document.body;

    LightModeIcon.addEventListener("click", () => {
        LightModeIcon.classList.add("hidden");
        DarkModeIcon.classList.remove("hidden");
    });

    DarkModeIcon.addEventListener("click", () => {
        DarkModeIcon.classList.add("hidden");
        LightModeIcon.classList.remove("hidden");
    });

    if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
        body.classList.add("dark-mode");
    } else {
        body.classList.add("light-mode");
    }

    function toggleMode() {
        if (body.classList.contains("light-mode")) {
            body.classList.remove("light-mode");
            body.classList.add("dark-mode");
        } else {
            body.classList.remove("dark-mode");
            body.classList.add("light-mode");
        }
    }

    DarkModeIcon.addEventListener("click", toggleMode);
    LightModeIcon.addEventListener("click", toggleMode);

    const DarkModeIconn = document.getElementById("DarkModeIconn");
    const LightModeIconn = document.getElementById("LightModeIconn");
    const bodyy = document.body;

    LightModeIconn.addEventListener("click", () => {
        LightModeIconn.classList.add("hidden");
        DarkModeIconn.classList.remove("hidden");
    });

    DarkModeIconn.addEventListener("click", () => {
        DarkModeIconn.classList.add("hidden");
        LightModeIconn.classList.remove("hidden");
    });

    if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
        bodyy.classList.add("dark-mode");
    } else {
        bodyy.classList.add("light-mode");
    }

    function toggleModee() {
        if (body.classList.contains("light-mode")) {
            body.classList.remove("light-mode");
            body.classList.add("dark-mode");
        } else {
            body.classList.remove("dark-mode");
            body.classList.add("light-mode");
        }
    }

    DarkModeIconn.addEventListener("click", toggleModee);
    LightModeIconn.addEventListener("click", toggleModee);
</script>

<style>
    @media screen and (max-width: 1300px) {
        #list-categories {
            display: none;
        }

        #header {
            justify-content: space-between;
        }
    }

    @media screen and (max-width: 570px) {
        #mobile {
            display: block;
            margin: 6px;
        }
        #header {
            display: none;
        }
    }
    @media screen and (max-width: 400px) {
        #github-star-mobile {
            display: flex;
        }

        #small-github-star-mobile {
            display: none;
        }
    }

    .hidden {
        display: none;
    }

    .hiden {
        display: none;
    }

    :root {
        --light-gradient: radial-gradient(
            100% 50% at 50% 0%,
            rgba(0, 163, 255, 0.13) 0%,
            rgba(0, 163, 255, 0) 50%,
            rgba(0, 163, 255, 0) 100%
        );
        --dark-gradient: radial-gradient(
            100% 100% at 50% 0%,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 100%
        );
    }

    body {
        background-color: var(--background-color);
        background-image: var(--background-gradient);
    }

    body.light-mode {
        --background-color: white;
        --background-gradient: var(--light-gradient);
        color: #121212;
        height: 100%;
    }

    body.dark-mode {
        --background-color: #121212;
        --background-gradient: var(--dark-gradient);
        color: white;
        height: 100%;
    }

    @keyframes star {
        0% {
            transform: scale(1);
        }
        25% {
            transform: scale(1.3);
        }
        50% {
            transform: scale(1);
        }
        75% {
            transform: scale(1.3);
        }
        100% {
            transform: scale(1);
        }
    }
    .star:hover {
        animation: star 1s;
    }
</style>

<header id="mobile" class="hidden">
    <div class="flex flex-col right-2 mt-4 gap-x-2 items-center top-0">
        <div class="flex items-center justify-between w-full mb-4">

            <span class="text-3xl font-semibold cursor-pointer">AppsDevs</span>

            <div class="flex items-center gap-x-2">
                <a
                    target="_blank"
                    id="small-github-star-mobile"
                    href="https://github.com/EmmanuellSk8/Apps-devs"
                    class="bg-black text-white gap-2 items-center text-xl border-2 px-6 py-1 flex rounded-md"
                >
                    <GithubIcon class="size-6" />
                    <StarIcon
                        class="star ml-1 text-gray-500 size-6 hover:text-yellow-400 duration-200 ease-in-out"
                    />
                    <span></span><GitHubStar client:load /></a>

                <LightModeIcon
                    id="DarkModeIcon"
                    class="hover:cursor-pointer size-7 hover:scale-125 duration-300"
                />
                <DarkModeIcon
                    id="LightModeIcon"
                    class="hover:cursor-pointer size-7 hidden hover:scale-125 duration-300"
                />
            </div>
        </div>

        <div class="flex items-center">
            <a
                id="github-star-mobile"
                href="https://github.com/EmmanuellSk8/Apps-devs"
                target="_blank"
                class="bg-black w-[300px] text-white gap-2 items-center text-xl border-2 px-6 py-1 rounded-md hidden"
            >
                <GithubIcon class="size-6" /> Star on Github <StarIcon
                    class="star ml-1 text-gray-500 size-6 hover:text-yellow-400 duration-200 ease-in-out"
                />
                <span></span><GitHubStar client:load />
            </a>
        </div>
    </div>
</header>

<header class="flex justify-around items-center mt-6" id="header">
    <span class="text-3xl font-semibold cursor-pointer">AppsDevs</span>

    <ul
        id="list-categories"
        class="flex gap-x-10 w-full justify-center items-center"
    >
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            Extensiones
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            Páginas
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            NPM
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            APIS
        </li>
        <li
            class="hover:cursor-pointer font-semibold hover:scale-125 duration-300 text-2xl"
        >
            APPS
        </li>
    </ul>

    <div class="flex right-2 gap-x-2 items-center">
        <div class="flex items-center mr-4">
            <a
                href="https://github.com/EmmanuellSk8/Apps-devs"
                target="_blank"
                class="bg-black w-[300px] text-white flex gap-2 items-center text-xl border-2 px-6 py-1 rounded-md"
            >
                <GithubIcon class="size-6" /> Star on Github <StarIcon
                    class="star ml-1 text-gray-500 size-6 hover:text-yellow-400 duration-200 ease-in-out"
                />
                <span></span><GitHubStar client:load />
            </a>
        </div>

        <div>
            <LightModeIcon
                id="DarkModeIconn"
                class="hover:cursor-pointer size-7 hover:scale-125 duration-300"
            />
            <DarkModeIcon
                id="LightModeIconn"
                class="hover:cursor-pointer size-7 hidden hover:scale-125 duration-300"
            />
        </div>
    </div>
</header>