<div class="mt-28 mb-28 text-center">

    <h1 class="text-4xl font-semibold">AppDevs; pensado para potenciar a los desarrolladores.</h1>
    <p class="text-2xl mt-4">Aquí encontrarás gran variedad de recursos para que desarrollar, sea más fácil para ti.</p>
</div>

<style>
    h1  {background: linear-gradient(90deg, #339efc, #b337d5, #00c3ff, #c26eda) ;
            background-size: 300%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-mask-size: 300%;
            mask-size: 300%;
            animation: gradient-mask 3s linear infinite;
        }

        @keyframes gradient-mask {
            0% {
                background-position: 0% 50%;
                mask-position: 50% 50%;
            }

            100% {
                background-position: 100% 35%;
                mask-position: 100% 40%;
            }
        }

</style> 