---
import SearchIcon from "./icons/SearchIcon.astro";
---

<div class="justify-center items-center ml-3 mt-20 flex gap-x-1">
    <select name="" id="" class="bg-white text-black rounded-sm">
        <option value="" hidden>Todas las categorías</option>
        <option value="">Extensiones</option>
        <option value="">Páginas</option>
        <option value="">APIS</option>
    </select>

        <input
            type="text"
            name=""
            id=""
            placeholder="Buscar..."
            class="text-black bg-white pl-2 rounded-sm w-2/4"
        />
        <button class=""> <SearchIcon /> </button>
  
</div>
